@property --round {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.grid {
  /* --sizeX: calc(100vw / (25 + 2vw));
  --round: var(--sizeX);
  --sizeY: calc(12 / 0.1vw);
  --round: var(--sizeY);

  height: calc(clamp(var(--sizeY), 13, 22) * (100vw / var(--sizeX))) */
  --h: 9.5px;
  --round: var(--h);
  height: var(--round);
}
