@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'theme.css';
@import 'syntax-highlighting.css';

@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }

  :root {
    --header-height: 54px;
    --color-scheme-transition-time: 300ms;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  main {
    min-height: 78vh;
  }

  * {
    color: rgb(var(--c-text-01));
    border-color: rgb(var(--c-brdr));
  }

  .c-trans {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: var(--color-scheme-transition-time);
  }

  .textinput {
    padding-left: 4px;
    padding-bottom: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: large;
    border-width: 2px;
    border-radius: 0.5rem;
    border-color: rgb(var(--c-brdr));
    background-color: rgb(var(--c-bg-01));
  }
}
