@tailwind base;

@layer base {
  :root {
    --c-theme: 00 150 255;
    /* --c-theme-2: 00 150 255; */
  }

  [data-theme='light'] {
    --c-bg-00: 255 255 255;
    --c-bg-01: 236 238 240;
    --c-bg-02: 220 222 225;

    --c-text-00: 0 0 0;
    --c-text-01: 20 20 20;
    --c-text-02: 80 80 80;
    --c-text-03: 120 120 120;

    --c-brdr: 200 200 200;

    --header-opacity: 0.6;
  }

  [data-theme='dark'] {
    --c-bg-00: 30 30 30;
    --c-bg-01: 50 50 50;
    --c-bg-02: 70 70 70;

    --c-text-00: 255 255 255;
    --c-text-01: 230 230 230;
    --c-text-02: 190 190 190;
    --c-text-03: 160 160 160;

    --c-brdr: 80 80 80;

    --header-opacity: 0.8;
  }

  [data-theme='blackout'] {
    --c-bg-00: 0 0 0;
    --c-bg-01: 20 20 20;
    --c-bg-02: 40 40 40;


    --c-text-00: 255 255 255;
    --c-text-01: 220 220 220;
    --c-text-02: 170 170 170;
    --c-text-03: 120 120 120;

    --c-brdr: 60 60 60;

    --header-opacity: 0.7;
  }
}
