@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --themeclr: 200 0 0;

    --header-height: 54px;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* :root body.dark {
  --brdrclr: 0 255 0;
}

:root body.light {
  --brdrclr: 0 0 255;
} */

[data-theme='dark'] {
  --brdrclr: 0 0 255;
}

[data-theme='light'] {
  --brdrclr: 0 255 0;
}
