@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'theme.css';

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --header-height: 54px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  color: rgb(var(--c-text-00));
  border-color: rgb(var(--c-brdr));
}

.c-trans {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
